<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Đây là thông báo từ hệ thống</h1>
    <p>Tài khoản của bạn đã bị hack</p>
    <p>Notice: <%= data %></p>
  </body>
</html>
