<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <div style="display: flex">
        <div style="width: 100%; max-width: 440px; padding: 0 20px">
          <div style="width: 100%; padding: 40px 7px">
            <img
              style="width: 150px"
              src="https://ci3.googleusercontent.com/meips/ADKq_NYK420UkUAFUsKIvzZlahWkg41X9bA1QHf8TAGuZ6ym8m5XYTWJ2Ee90ro6vYswm83-RT1a0AIsN9w5idF4Z_lvhqDOa86bd0GwD60T3s6Dn0-spVP2AbIsrT452YMV-LIR2a1b2k_SiU-YxQ=s0-d-e1-ft#http://p16-tiktokcdn-com.akamaized.net/obj/tiktok-obj/f70f9d0dc867d6c71ce2cd684a0ffff0"
              class="CToWUd"
              data-bit="iit"
            />
          </div>
          <div
            style="
              max-width: 100%;
              background-color: #f1f1f1;
              padding: 20px 16px;
              font-weight: bold;
              font-size: 20px;
              color: rgb(22, 24, 35);
            "
          >
            Mã xác minh
          </div>
          <div
            style="
              max-width: 100%;
              background-color: #f8f8f8;
              padding: 24px 16px;
              font-size: 17px;
              color: rgba(22, 24, 35, 0.75);
              line-height: 20px;
            "
          >
            <p style="margin-bottom: 20px">
              Để xác minh tài khoản của bạn, hãy nhập mã này vào TikTok:
            </p>
            <p
              style="
                margin-bottom: 20px;
                color: rgb(22, 24, 35);
                font-weight: bold;
              "
            >
              <%= data.otp_code %>
            </p>
            <p style="margin-bottom: 20px">Mã xác minh hết hạn sau 48 giờ.</p>
            <p style="margin-bottom: 20px">
              Nếu bạn không yêu cầu mã, bạn có thể bỏ qua tin nhắn này.
            </p>

            <p>Nhóm Hỗ trợ TikTok</p>
            <p style="word-break: break-all">
              Trung tâm Trợ giúp TikTok:
              <a
                style="color: rgb(0, 91, 158)"
                href="https://support.tiktok.com/"
                target="_blank"
                data-saferedirecturl="https://www.google.com/url?q=https://support.tiktok.com/&amp;source=gmail&amp;ust=1749660456524000&amp;usg=AOvVaw3cpiybJvIkVdmMKNUz9g8d"
                >https://support.tiktok.com/</a
              >
            </p>
          </div>

          <div
            style="
              max-width: 100%;
              padding: 40px 16px 20px;
              font-size: 15px;
              color: rgba(22, 24, 35, 0.5);
              line-height: 18px;
            "
          >
            <div>Bạn có câu hỏi?</div>
            <div style="margin-bottom: 20px">
              Hãy xem mục trung tâm trợ giúp hoặc liên hệ với chúng tôi trong
              ứng dụng bằng cách sử dụng
              <span style="color: rgb(0, 91, 158); font-weight: bold"
                >Cài đặt &gt; Báo cáo Vấn đề.</span
              >
            </div>
            <div>
              Đây là email được tạo tự động. Thư trả lời gửi đến địa chỉ email
              này không được giám sát.
            </div>
          </div>
          <div
            style="
              border: 0;
              background-color: rgba(0, 0, 0, 0.12);
              height: 1px;
              margin-bottom: 16px;
            "
          ></div>
          <div
            style="
              color: rgba(22, 24, 35, 0.5);
              margin: 20px 16px 40px 16px;
              font-size: 12px;
              line-height: 18px;
            "
          >
            <div style="word-break: break-all">
              <a
                style="color: rgba(22, 24, 35, 0.5); text-decoration: underline"
                href="https://www.tiktok.com/en/privacy-policy?lang=vi"
                target="_blank"
                data-saferedirecturl="https://www.google.com/url?q=https://www.tiktok.com/en/privacy-policy?lang%3Dvi&amp;source=gmail&amp;ust=1749660456525000&amp;usg=AOvVaw3UbkhP4gctD10VFeZKdhtK"
                >Chính sách Quyền riêng tư
              </a>
            </div>
            <div>TikTok, 10100 Venice Bivd, Culver City, CA 90232</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
